# === Docker setup ===
# ---------------------

# Mandatory
HSR_HOST_DOCS_DIR=C:/Documents/my-corpus
HSR_DOCS_DIR=/hsr/docs

# Advisable
HSR_CHROMA_DIR=/hsr/indexer/chroma_db
HSR_CACHE_DIR=/hsr/indexer/cache

# If any of the default ports are already in use on the local machine (8000 and 8501)
# change default values accordingly:
# HSR_REST_SERVER_PORT=8001
# HSR_UI_PORT=8502


# === Manual setup ===
# ---------------------

# Mandatory
HSR_DOCS_DIR=C:/Documents/my-corpus

# Advisable
HSR_CHROMA_DIR=C:/Documents/hsr/indexer/chroma_db
HSR_CACHE_DIR=C:/Documents/hsr/indexer/cache

# If any of the default ports are already in use on the local machine (8000 and 8501)
# change default values accordingly:
# HSR_REST_SERVER_PORT=8001
# HSR_UI_PORT=8502
